*{
    margin:0;
    padding:0;
}

body {
	background:#8BE7E7;
	
	* {
		box-sizing: border-box;
	}
}

ol {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	
	&, &:visited {
		color: #222;
	}
}

section {
	
	h1 {
		color: #ccc;
		margin-bottom: 30px;
		font-size: 20px;
	}
}




main {
	max-width: 90vw;
	margin: 0 auto;
	padding: 40px 20px;
}




.cards {
	font-size: 0;
	white-space: nowrap;
}

.card-outter {
	display: inline-block;
	padding-left: 20px;
}

.card {
	width: 250px;
	padding: 20px;
    border-color: blue;
	
	.title {
		font-size: 16px;
		margin: 10px 0 6px;
	}
	
	.description {
		font-size: 12px;
		margin: 0;
	}
}


.slider-container {
	position: relative;
	overflow: hidden;
	margin: 0 -20px;
	

	&:before,
	&:after {
		position: absolute;
		top: 0;
		z-index: 1;
		content: "";
		display: block;
		width: 20px;
		height: 100%;
	}

	/* &:before {
		left: 0;
		background: linear-gradient(90deg, #222, transparent);
	}

	&:after {
		right: 0;
		background: linear-gradient(-90deg, #222, transparent);
	} */
}

.slider {
	transition: transform .2s ease-out;
	
	&.active {
		transition: none;
		
		&, & a {
			cursor: grab;
		}
	
		+ .slider-indicator-bar {

			.slider-indicator {
				transition: none;
			}
		}
	}
}

.slider-indicator-bar {
	position: relative;
	height: 5px;
	width: 100px;
	margin: 30px auto 0;
	background: lighten(#222, 6);
	border-radius: 2px;

	.slider-indicator {
		position: absolute;
		left: 0;
		content: "";
		height: 6px;
		background-color: lighten(#222, 18);;
		border-radius: 2px;
		transition: left .2s ease-in-out;
	}
}




.slider-arrow {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 30px;
	height: 30px;
	background: #ccc;
	border: 1px solid #888;
	border-radius: 50%;
	cursor: pointer;
	transform: translateY(-100%);
	transition: opacity .2s ease-in-out;
	box-shadow: 0 0 7px 0 rgba(#222, .4);

	&:hover {
		box-shadow: 0 0 7px 0 rgba(#222, .8);
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: verdana;
		font-size: 18px;
		color: #888;
	}

	&.disabled {
		opacity: 0;
	}

	&.left {
		left: 5px;

		&:before {
			margin-left: -1px;
			content: "\21F7";
		}
	}

	&.right {
		right: 5px;

		&:before {
			margin-left: 1px;
			content: "\21F8";
		}
	}
}

.searchbar{
    position: relative;
    display: inline-block;
}

