*{
    margin:0;
    padding:0;
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}
.left-area{
    width:40vw;
    height:100vh;
    /* border:3px solid black; */
}
.right-area{
    margin-left: 2vw;
    margin-right: 2vw;
    width:60vw;
    /* border:3px solid black; */
    height:100vh;
    

}

hr {
    width:70%;
    margin:0 auto;
}

.Name{
    display: flex;
    flex-direction: row;
 }
